<div style="text-align: center;">
    <br><br>
    <h1>KPIs of Consumer Electronics (Part One: Data Wrangling)</h1>
    <hr style="width: 100%;"> <!-- The line is also centered, and you can adjust the width as needed -->
    <br><br>
</div>

<div style="text-align: center;">
    <br>
    <h2>1.2 Imports</h2>
    <hr style="width: 100%;"> <!-- The line is also centered, and you can adjust the width as needed -->
    <br><br>
</div>

In [6]:
# Import Dataset 1 : csv file

import pandas as pd

file_path_1 = 'consumer_electronics_sales_data.csv'

# Load the Excel file into a pandas DataFrame
ds_1 = pd.read_csv(file_path_1)

# Display the first few rows of the DataFrame to verify the import
print('---------------------*HEAD*---------------------')
print(ds_1.head())
print('-------------------*END HEAD*-------------------')

---------------------*HEAD*---------------------
   ProductID ProductCategory  ProductBrand  ProductPrice  CustomerAge  \
0       5874     Smartphones  Other Brands    312.949668           18
1       5875   Smart Watches       Samsung    980.389404           35
2       5876         Tablets       Samsung   2606.718293           63
3       5877     Smartphones       Samsung    870.395450           63
4       5878         Tablets          Sony   1798.955875           57

   CustomerGender  PurchaseFrequency  CustomerSatisfaction  PurchaseIntent
0               0                  2                     1               0
1               1                  7                     2               1
2               0                  1                     5               1
3               1                 10                     3               1
4               0                 17                     3               0
-------------------*END HEAD*-------------------

In [7]:
# Import Dataset 2 : csv file

import pandas as pd

file_path_2 = 'customer_acquisition_data.csv'

# Load the Excel file into a pandas DataFrame
ds_2 = pd.read_csv(file_path_2)

# Display the first few rows of the DataFrame to verify the import
print('---------------------*HEAD*---------------------')
print(ds_2.head())
print('-------------------*END HEAD*-------------------')

---------------------*HEAD*---------------------
   customer_id           channel       cost  conversion_rate  revenue
0            1          referral   8.320327         0.123145     4199
1            2  paid advertising  30.450327         0.016341     3410
2            3   email marketing   5.246263         0.043822     3164
3            4      social media   9.546326         0.167592     1520
4            5          referral   8.320327         0.123145     2419
-------------------*END HEAD*-------------------

<div style="text-align: center;">
    <br>
    <h2>1.3 Data Wrangling</h2>
    <hr style="width: 100%;"> <!-- The line is also centered, and you can adjust the width as needed -->
    <br><br>
</div>

In [8]:
import pandas as pd


# Display basic info
print("ds_1 info:")
print(ds_1.info())
print("\nds_2 info:")
print(ds_2.info())

# Missing values
# Drop columns with a high percentage of missing values, or fill with a placeholder
threshold = 0.5  # Drop columns with more than 50% missing values
ds_1 = ds_1.dropna(thresh=len(ds_1) * (1 - threshold), axis=1)
ds_2 = ds_2.dropna(thresh=len(ds_2) * (1 - threshold), axis=1)

# Fillling remaining missing values
ds_1.fillna(ds_1.median(numeric_only=True), inplace=True)
ds_2.fillna(ds_2.median(numeric_only=True), inplace=True)


# Duplicates
ds_1.drop_duplicates(inplace=True)
ds_2.drop_duplicates(inplace=True)

ds_1 info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductID             9000 non-null   int64
 1   ProductCategory       9000 non-null   object
 2   ProductBrand          9000 non-null   object
 3   ProductPrice          9000 non-null   float64
 4   CustomerAge           9000 non-null   int64
 5   CustomerGender        9000 non-null   int64
 6   PurchaseFrequency     9000 non-null   int64
 7   CustomerSatisfaction  9000 non-null   int64
 8   PurchaseIntent        9000 non-null   int64
dtypes: float64(1), int64(6), object(2)
memory usage: 632.9+ KB
None

ds_2 info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      800 non-null    int64
 1   channel          800 non-null    object
 2   cost             800 non-null    float64
 3   conversion_rate  800 non-null    float64
 4   revenue          800 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 31.4+ KB
None

In [9]:
#Semantic Cleaning for ds_1

In [10]:
# Columns to check 
columns_to_check = ["ProductPrice"]

# Negative or zero values in each column
for col in columns_to_check:
    if col in ds_1.columns:
        negative_or_zero = ds_1[ds_1[col] <= 0]
        if not negative_or_zero.empty:
            print(f"Column '{col}' has {len(negative_or_zero)} rows with negative or zero values:")
            print(negative_or_zero[[col]])
        else:
            print(f"Column '{col}' has no negative or zero values.")
    else:
        print(f"Column '{col}' does not exist in ds_2.")

Column 'ProductPrice' has no negative or zero values.

In [ ]:
#Semantic cleaning for ds_2

In [3]:
# Columns to check 
columns_to_check = ["cost", "conversion_rate", "revenue"]

# Negative or zero values in each column
for col in columns_to_check:
    if col in ds_2.columns:
        negative_or_zero = ds_2[ds_2[col] <= 0]
        if not negative_or_zero.empty:
            print(f"Column '{col}' has {len(negative_or_zero)} rows with negative or zero values:")
            print(negative_or_zero[[col]])
        else:
            print(f"Column '{col}' has no negative or zero values.")
    else:
        print(f"Column '{col}' does not exist in ds_2.")

Column 'cost' has no negative or zero values.
Column 'conversion_rate' has no negative or zero values.
Column 'revenue' has no negative or zero values.

In [ ]:
#checking ds_1 null vlaues

In [11]:
# Separating categorical and non-categorical columns
categorical_columns = ds_1.select_dtypes(include=['object', 'category']).columns
noncategorical_columns = ds_1.select_dtypes(exclude=['object', 'category']).columns

# Null values in categorical columns
null_categorical = ds_1[categorical_columns].isnull().sum()
null_categorical = null_categorical[null_categorical > 0]  # Filter columns with nulls
if not null_categorical.empty:
    print("Categorical columns with null values:")
    print(null_categorical)
else:
    print("No null values in categorical columns.")

# Null values in non-categorical columns
null_noncategorical = ds_1[noncategorical_columns].isnull().sum()
null_noncategorical = null_noncategorical[null_noncategorical > 0]  # Filter columns with nulls
if not null_noncategorical.empty:
    print("\nNon-categorical columns with null values:")
    print(null_noncategorical)
else:
    print("No null values in non-categorical columns.")

No null values in categorical columns.
No null values in non-categorical columns.

In [12]:
#ds_2 null values

In [13]:
# Separating categorical and non-categorical columns
categorical_columns = ds_2.select_dtypes(include=['object', 'category']).columns
noncategorical_columns = ds_2.select_dtypes(exclude=['object', 'category']).columns

# Check for null values in categorical columns
null_categorical = ds_2[categorical_columns].isnull().sum()
null_categorical = null_categorical[null_categorical > 0]  # Filter columns with nulls
if not null_categorical.empty:
    print("Categorical columns with null values:")
    print(null_categorical)
else:
    print("No null values in categorical columns.")

# Check for null values in non-categorical columns
null_noncategorical = ds_2[noncategorical_columns].isnull().sum()
null_noncategorical = null_noncategorical[null_noncategorical > 0]  # Filter columns with nulls
if not null_noncategorical.empty:
    print("\nNon-categorical columns with null values:")
    print(null_noncategorical)
else:
    print("No null values in non-categorical columns.")

No null values in categorical columns.
No null values in non-categorical columns.